@using Microsoft.AspNetCore.Components.Forms
@inherits SVInputBase<string?>
@if (ConditionalRendering) {
    <div class="form-block">
        @if (Label is not null) {
            <label>@Label :</label>
        }
        <input type="password" class="form-control form-control-sm" @onchange="@(async (ChangeEventArgs e) => { await OnValueChanged(e); })" @oninput="@(async (ChangeEventArgs e) => { await OnValueChanged(e); })"/>
    </div>
}